body{
        font-family: Arial, sans-serif;
}


/* HEADER */
 .nav-item i{
     color: gray;
     font-size: 0.6rem;
 }

.pl_h{
 padding-right: 5px!important;
}

.pl_h_li{
    padding-right: 15px;
    cursor: pointer;
}

/* MAIN */

.hero_background{
    background-image: url(/img/jumbo-bg.png);
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
    width: 100%;
    position: relative;
}

.hero_background_iit{
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
    width: 100%;
    position: relative;
}


.hero_logo{
    width: 230px;
    margin-left: -10px;
}

.hero_logo_iit{
    width: 250px;
    margin-left: -10px;
}

.hero_logo_ps{
    width: 230px;
    margin-left: -10px;
    margin-top: 30px;
}

.ps_logo{
       display: inline-block;
}

.hero_content{
        bottom: 0;
        
}

.showcase_size{
width: 100%;
border-radius: 10px;
}

.fs_vs{
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 75px;
}

.fs_al{
    font-size: 2.1rem;
}

.fs_al span{
    font-size: 1rem;
    right: 16%;
    bottom: 35%;
    position: absolute;
}
.pl_27{
    padding-left: 27px;
}

.up_hover{
    transition: 0.5s;
}

.ps_item{
    width: 33%
}

.ps_item img{
    width: 100%;
}

.ps_item p{
    display: none;
}

.line{
    width: 100%;
    height: 5px;
   background-color: #2D64E6;
   border-radius: 25px;
}

.h_300{
    height: 300px;

}

.t_17{
    top: 17%;
}

.img_md_m{
    display: none;
}
/* Footer */
.footer_link a{
    text-decoration: none;
    color: white;
}

.h_60px{
    height: 60px;
}

.h_40px{
    height: 40px;
}

/* hover */
.up_hover:hover{
    margin-top: -10px;

}

.f_o_7:hover{
    filter: brightness(120%);
}
/* Media query */

@media screen and (min-width: 768px){
  
.ps_item{
    width: 20%
}

.hero_desc{
    width: 90%;
}

.img_md_m{
    display: block;
}

.w_50{
    width: 50%;
}

.ps_item p {
    display: block;
}


.hero_logo_ps{
    margin-top: 0;
    margin-bottom: 0;
}

.w_75{
  width: 75%!important;
}

.mb_0{
  margin-bottom: 0!important;
}

.py_0{
    padding-top: 0;
    padding-bottom: 0;
}
.fs_al{
    font-size: 2.5rem;
}

.link_social_size{
    width: 75%!important;
    margin: 0 auto;
}

}

@media screen and (min-width: 1024px){
.mt_50px{
    margin-top: 65px;
}

.w_lg-50{
    width: 500px!important;
}
.link_social_size{
    width: 50%!important;
    margin: 0 auto;
}
}
