body{
        font-family: Arial, sans-serif;
}


/* MAIN */

.hero_background{
    background-image: url(/img/jumbo-bg.png);
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
    width: 100%;
    position: relative;
}

.hero_logo{
    width: 230px;
    margin-left: -10px;
}

.hero_content{
        bottom: 0;
}
