body{
        font-family: Arial, sans-serif;
}


/* MAIN */

.hero_background{
    background-image: url(/img/jumbo-bg.png);
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
    width: 100%;
    position: relative;
}

.hero_background_iit{
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
    width: 100%;
    position: relative;
}


.hero_logo{
    width: 230px;
    margin-left: -10px;
}

.hero_logo_iit{
    width: 175px;
    margin-left: -10px;
}

.hero_logo_ps{
    width: 230px;
    margin-left: -10px;
 
}

.ps_logo{
       display: inline-block;
}

.hero_content{
        bottom: 0;
}

.showcase_size{
width: 100%;
border-radius: 10px;
}

.fs_vs{
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 75px;
}

.fs_al{
    font-size: 2.5rem;
}

.fs_al span{
    font-size: 1rem;
    right: 16%;
    bottom: 35%;
    position: absolute;
}
.pl_27{
    padding-left: 27px;
}

.ps_item{
    width: 33%
}

.ps_item img{
    width: 100%;
}

.ps_item p{
    display: none;
}

.line{
    width: 100%;
    height: 5px;
   background-color: #2D64E6;
   border-radius: 25px;
}

.h_300{
    height: 300px;

}

.t_17{
    top: 17%;
}

.img_md_m{
    display: none;
}
/* Footer */
.footer_link a{
    text-decoration: none;
    color: white;
}


@media screen and (min-width: 768px){
  
.ps_item{
    width: 20%
}

.hero_desc{
    width: 90%;
}

.img_md_m{
    display: block;
    width: 100%;
}

.w_50{
    width: 50%;
}

.ps_item p {
    display: block;
}

}